node_modules
dist
.turbo
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
coverage

*storybook.log
storybook-static
**/.gradle/
**/build/
**/local.settings.json
bin/
obj/
out/
*.log
